.widget {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 2px solid black;
}

div.widget h2{
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 0px;
}

.infoBox {
    text-align: left;
}

div.widget p{
    color: rgb(75, 75, 0);
}

.info-span {
    font-size: small;
    width: 100%;
    display: inline-block;
}


.widgetHR {
    border-top: 1px solid black;
}

.widgetAnswer {
    color: rgb(59, 166, 227);
    font-style: italic;
}

.inProgress {
    color: orange;
}

.complete {
    color: limegreen;
}

.pending {
    color: red;
}

.widget-img {
    border-radius: 5px;
    max-width: 90%;
}