.widget {
    border: 10px solid black;
    border-radius: 15px;
    margin: 5%;
    padding: 20px;
    text-align: center;
    background-color:rgb(235, 235, 250)
}

div.widget h2{
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 0px;
}

div.widget p{
    color: rgb(75, 75, 0);
}

div.widget span {
    font-size: small;
}

div.widget .date {
    float: left;
}

div.widget .state {
    float: right;
}

.infoBox {
    padding: 5px 15%;
    /* border-bottom: 0.5px solid black; */
}

.widgetHR {
    border-top: 1px solid black;
}

.widgetAnswer {
    color: rgb(59, 166, 227);
    font-style: italic;
}

.widgetTags {
    color: slategray;
    font-size: x-small;
    font-style: italic;
}

.inProgress {
    color: orange;
}

.complete {
    color: limegreen;
}

.pending {
    color: red;
}