{% extends "base.html" %}

{% block title %} Projects {% endblock%}

{% block content %}
    <h1 class="jheading">Projects</h1>

    <p style="padding-left: 20px;" class="jtext">Find below a list of my personal, long-term programming projects.</p>

    <div class="widget" id="MH">
        <h2>Musician's Haven</h2>
        <div class="infoBox">
            <span class="date info-span">Date Started: <span class="widgetAnswer">01/11/2021</span></span>
            <span class="state info-span">State: <span class="widgetAnswer inProgress">In Progress</span></span><br>
            <span class="date info-span">Date Finished: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state info-span">Team Members: <span class="widgetAnswer">Jack Ricketts</span></span>
        </div><hr class="widgetHR">
        <p>
            This project was initially a school project that I completed when I was in sixth form. This was a mandatory project called the 
            <a href="https://www.ocr.org.uk/qualifications/projects/extended-project-h857/" target="_blank">EPQ</a>. I completed this first version of the project in the 
            summer of 2022 (as per the EPQ deadline). However, I decided that I wanted to recreate the website to a much higher standard with a focus on improving design and usability, 
            as well as adding some new features.
        </p>
        <p>
            The website itself can be summarised as <i>a source of music information crossed with social media for musicians</i>. It contains features such as information about songs and bands, 
            forum threads, profiles (which users can interact with through posting and following), instant messaging, free music courses, band pages (which allow users to find bandmates meeting 
            their criteria), and music recommendations.
        </p>
        <p>
            The site's backend makes use of Python and Flask and the frontend uses HTML, CSS, and JavaScript. Sockets were used for the direct messaging feature.
        </p>
        <p><a href="https://github.com/JLR24/musicians_haven" target="_blank">GitHub</a></p>      
            <img src="{{url_for('static', filename='mh_home.png')}}" alt="A screenshot of the MH home page" class="widget-img">
            <img src="{{url_for('static', filename='mh_help.png')}}" alt="A screenshot of a MH help page" class="widget-img">
    </div>

    <div class="widget" id="WB">
        <h2>Warwick Bakery</h2>
        <div class="infoBox">
            <span class="date info-span">Date Started: <span class="widgetAnswer">17/03/2024</span></span>
            <span class="state info-span">State: <span class="widgetAnswer complete">In Progress</span></span><br>
            <span class="date info-span">Date Finished: <span class="widgetAnswer">DD/04/2024</span></span>
            <span class="state info-span">Team Members: <span class="widgetAnswer">Jack Ricketts, Warwick Bakery</span></span>
        </div><hr class="widgetHR">
        <p>
            A friend started a bakery business while at university, and asked me to create a website for them. The site allows customers to view products and make orders. Staff members can then
            process these orders accordingly. In addition, the site also contains the company's books. I am responsible for maintaining the completed website.
        </p>
        <p>
            Since this website is not for just my own personal use, I had to ensure that every feature worked exactly as intended, could not be exploited, and was accessible to other people. To do
            this, I conducted thorough testing and did extra research into security and common defects.
        </p>
        <p><a href="https://github.com/JLR24/warwick_bakery" target="_blank">GitHub</a></p>      
    </div>

    <div class="widget" id="PW">
        <h2>Personal Website</h2>
        <div class="infoBox">
            <span class="date info-span">Date Started: <span class="widgetAnswer">21/01/2024</span></span>
            <span class="state info-span">State: <span class="widgetAnswer complete">Complete</span></span><br>
            <span class="date info-span">Date Finished: <span class="widgetAnswer">28/04/2024</span></span>
            <span class="state info-span">Team Members: <span class="widgetAnswer">Jack Ricketts</span></span>
        </div><hr class="widgetHR">
        <p>
            Although this website is not very advanced or technically-challenging, the project had a strong focus on front-end design and completeness, since it would be the first project of mine 
            to be made publicly available. In addition, the website also needed to be hosted, which, while not being overly complicated, was a good learning experience and good practice to have.
        </p>
        <p>
            The website contents are very simple: a home page, a page to display my projects, and an "about" page, which includes a contact form. The site is made using a simple Flask application.
        </p>
        <p><a href="https://github.com/JLR24/personal_website" target="_blank">GitHub</a></p>
    </div>
    
{% endblock %}