{% extends "base.html" %}

{% block title %} Projects {% endblock%}

{% block content %}
    <h1 class="jheading">Projects</h1>

    <p style="padding-left: 20px;" class="jtext">Find below a list of my personal, long-term programming projects.</p>

    <div class="widget" id="MH">
        <h2>Musician's Haven</h2>
        <div class="infoBox">
            <span class="date">Date Started: <span class="widgetAnswer">01/11/2021</span></span>
            <span class="state">State: <span class="widgetAnswer inProgress">In Progress</span></span><br>
            <span class="date">Date Finished: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state">Team Members: <span class="widgetAnswer">Jack Ricketts</span></span>
        </div><hr class="widgetHR">
        <p>
            This project was initially a school project that I completed when I was in sixth form. This was a mandatory project called the 
            <a href="https://www.ocr.org.uk/qualifications/projects/extended-project-h857/" target="_blank">EPQ</a>. I completed this first version of the project in the 
            summer of 2022 (as per the EPQ deadline), however I decided that I wanted to redo it to a much higher standard with a focus on improving design and usability, 
            as well as adding new features.
        </p>
        <p>
            The website itself can be summarised as "<i>a source of music information crossed with social media for musician's</i>". It contains features such as information about songs/bands, 
            forum threads, profiles (which users can interact with through posting and following), instant messaging, free music courses, band pages (which allow users to find bandmates meeting 
            their criteria), and music recommendations.
        </p>
        <p><a href="https://github.com/JLR24/musicians_haven" target="_blank">GitHub</a></p>      
            <img src="{{url_for('static', filename='mh_home.png')}}" alt="A screenshot of the MH home page" style="border-radius: 5px; max-width: 45%; height: auto;">
            <img src="{{url_for('static', filename='mh_help.png')}}" alt="A screenshot of a MH help page" style="border-radius: 5px; max-width: 45%; height: auto;">
    </div>

    <div class="widget" id="PW">
        <h2>Personal Website</h2>
        <div class="infoBox">
            <span class="date">Date Started: <span class="widgetAnswer">21/01/2024</span></span>
            <span class="state">State: <span class="widgetAnswer complete">Complete</span></span><br>
            <span class="date">Date Finished: <span class="widgetAnswer">DD/01/2024</span></span>
            <span class="state">Team Members: <span class="widgetAnswer">Jack Ricketts</span></span>
        </div><hr class="widgetHR">
        <p>
            Although this website is not very advanced or technically-challenging, the project had a strong focus on front-end design and completeness, since it would be the first project of mine 
            to be made publicly available. In addition, the website also needed to be hosted and have an appropriate domain name, which (although not overly complicated) was a good learning experience, 
            and good practice to have.
        </p>
        <p>
            The website contents are very simple: a home page; a page to display my projects; and an "about" page, which includes a contact form. The site is made using a simple Flask application.
        </p>
        <p><a href="https://github.com/JLR24/personal_website" target="_blank">GitHub</a></p>
    </div>

    <div class="widget" id="TSG">
        <h2>The Space Game</h2>
        <span class="widgetTags">Tags: programming, game, website, story</span>
        <div class="infoBox">
            <span class="date">Date Started: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state">State: <span class="widgetAnswer">In Progress</span></span><br>
            <span class="date">Date Finished: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state">Team Members: <span class="widgetAnswer">Jack Ricketts</span></span>
        </div><hr class="widgetHR">
        <p>Awaiting write-up</p>
    </div>


    <div class="widget" id="KA">
        <h2>Kitchen-Assist</h2>
        <span class="widgetTags">Tags: programming, website, assistant</span>
        <div class="infoBox">
            <span class="date">Date Started: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state">State: <span class="widgetAnswer">In Progress</span></span><br>
            <span class="date">Date Finished: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state">Team Members: <span class="widgetAnswer">Jack Ricketts</span></span>
        </div><hr class="widgetHR">
        <p>Awaiting write-up</p>
    </div>

    <div class="widget" id="PG">
        <h2>The Puzzle Game</h2>
        <span class="widgetTags">Tags: programming, application, game, procedural generation</span>
        <div class="infoBox">
            <span class="date">Date Started: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state">State: <span class="widgetAnswer">In Progress</span></span><br>
            <span class="date">Date Finished: <span class="widgetAnswer">DD/MM/YYYY</span></span>
            <span class="state">Team Members: <span class="widgetAnswer">Jack Ricketts</span></span>
        </div><hr class="widgetHR">
        <p>Awaiting write-up</p>
    </div>
    
{% endblock %}